[submodule "server"]
	path = server
	url = https://github.com/nilerrors/PlantPal-server
[submodule "client"]
	path = client
	url = https://github.com/nilerrors/PlantPal-client
[submodule "app"]
	path = app
	url = https://github.com/nilerrors/PlantPal-app
